@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Montserrat&display=swap');

:root {
    --font-primary: 'Dancing Script', cursive;
    --font-secondary: 'Montserrat', sans-serif;
    --color-primary: white;
    --color-secondary:#332923;
    --color-background: #281808;
    --color-hover:#FF1493;
}

*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    
}
button {
    all: unset;
    cursor: pointer;
}

a {
    all: unset;
    cursor: pointer;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: var(--font-primary);
    background-color: var(--color-background);
    color: var(--color-primary);
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    width: 100%;
    position: fixed;
    padding: 1rem 4rem;

    display: flex;
    justify-content: space-between;

    background-color: var(--color-secondary);
    font-weight: bold;
    z-index: 1;
}

.nav_logo{
    font-size: xx-large;
    margin: 0rem 3rem;
}

.nav_menus {
    font-family: var(--font-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    margin: 0rem 3rem;
}

.nav_menu {
    transition: color 0.2s ease-out;
    font-size: large;
}

.nav_menu:hover {
    color:var(--color-hover);
}

.nav_button{
    display: flex;
    align-items: center;
    margin: 0rem 4rem;
    gap: 2rem;
}

.home{
    width: 100%;
    height: 100vh;

    display: flex;  
    justify-content:center;

    background-image: url('img/prewed.png');
    background-size: 100% auto;
}

.home_contents{
    margin: 6rem 0;
    text-align: center;
    font-weight: lighter;
    vertical-align: text-top;
    padding: 1rem 0;
}
.home_contents > h1{
    font-size: 8rem;    
}

.home_contents > h2{
    font-size: 3rem;
}

.home_contents > h3{
    font-size: 1.5rem;
}

.couple {
    width: 100%;
    height: 100vh;
    display: flex;  
    flex-direction: column;
    align-items: center
}

.couple_content{
    margin: 4.25rem 0;

    text-align: center;
    vertical-align: text-top;
    font-size: 1.25rem;
}

.couple_img > img{
    margin: 0 8rem;
}

.couple_img_desc {
    display: flex;
    align-items: center;
    gap: 5rem;
    /* justify-content: space-between; */
}

.couple_img_desc > h1{
    font-size: 6rem;
}
.couple_img_desc > h3 {
    text-align: center;
    font-size: 1.5rem;
}

.event{
    width: 100%;
    height: 100vh;

    display: flex;
    /* justify-content: flex-end; */

    color: var(--color-secondary);
    background-image: url('img/prewed2_1.png');
    background-size: 100% auto;
}

.event_title{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;

    margin-top: 8rem;

    text-shadow: 
        -2px -2px 0 var(--color-primary),
        2px -2px 0 var(--color-primary),
        -2px  2px 0 var(--color-primary),
        2px  2px var(--color-primary);
}

.event_title > h1{
    font-size: 7rem;
}

.event_content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 4rem;
}

.border-box {
    width: 700px;
    height: 400px;  
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.4);
    margin: 1rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.border-box > h1{
    font-size: 4rem;
}

.event_btn{
    margin-top: 1rem;
    width: fit-content;
    padding: 0.5rem 1.5rem;

    display: block;
    border: 2px solid var(--color-secondary);
    border-radius: 1rem;

    background-color: var(--color-primary);
    color: var(--color-background);
    font-family: var(--font-secondary);

    transition: all 0.25s ease-out;
}

.event_btn:hover {
    background-color:var(--color-secondary);
    color:var(--color-primary);
}   

.rsvp{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rsvp_form{
    width: 40%;
    height: 70vh;
    float: left;

    margin-left: 5rem;

    background: rgba(255, 255, 255, 0.4);
    padding: 2rem;
    border-radius: 2rem;
    font-size: xx-large;
}

.rsvp_img{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60%;
    height: 70vh;
    float:right;
    /* margin: 5rem; */
}

.rsvp_img > img{
    width: 800px;
    height: auto;
}

.rsvp_form input[type="text"]
{
    font-size: xx-large; 
    width: 90%;
    height: 20px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.rsvp_form input[type="radio"]{
    width: 10%;
    height: 20px;
}

.rsvp_btn{
    margin-top: 1rem;
    margin-left: 11rem;
    width: fit-content;
    padding: 0.5rem 1.5rem;

    display: block;
    border: 2px solid var(--color-secondary);
    border-radius: 1rem;

    background-color: var(--color-primary);
    color: var(--color-background);
    font-family: var(--font-secondary);

    transition: all 0.25s ease-out;
}

.rsvp_btn:hover {
    background-color:var(--color-secondary);
    color:var(--color-primary);
} 